* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background-color: rgb(31, 34, 36);
    max-width: 75px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

.content-wrap {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-wrap {
    flex-grow: ;
}
