* {
    margin:0;
    padding:0 ;
    box-sizing: border-box
}

html, body {
<<<<<<< HEAD
    /* height: 100%; */
=======
    height: 100%;
>>>>>>> master
    width: 100%;
}

header, footer {
    color: #333;
}

main {
<<<<<<< HEAD
    background-color:white;
=======
    background-color:navy;
>>>>>>> master
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
<<<<<<< HEAD
    grid-template-rows: 50px 1fr 50px;
=======
    grid-template-rows: 50px 500px 50px;
>>>>>>> master
}

header, footer {
    grid-column: 1/4;
    background-color: tomato;
}

main {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 50px 150px;
}

main > * {
<<<<<<< HEAD
    border: 1px solid #333;
=======
    border: 1px solid #fff;
>>>>>>> master
}

.main-content,
.main-description {
    grid-column: 1/-1;
    
}
<<<<<<< HEAD
.img-holder{
    border: 1px solid green;
}

.img{
    height: 200px;
    width: 100px;
}
=======

>>>>>>> master
