* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

main {
    background-color: #fff;
    color: white;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 50px 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 1fr 50px;
}

header, footer {
    grid-column: 1/-1;
    background-color: #333;
}

main > * {
    border: 1px solid black;
}

.main-content,
.main-description{
    grid-column: 1/-1;
}

.img-holder {
    border: 1px solid green;
}

.img {
    height: 200px;
    width: 100px;
}