* {
    margin:0;
    padding:0 ;
    box-sizing: border-box
}

html, body {
    height: 100%;
    width: 100%;
}

header, footer {
    color: #333;
}

main {
    background-color:navy;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 500px 50px;
}

header, footer {
    grid-column: 1/4;
    background-color: tomato;
}

main {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 50px 150px;
}

main > * {
    border: 1px solid #fff;
}

.main-content,
.main-description {
    grid-column: 1/-1;
    
}

